* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-color: #010101;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #4b4b4b, #000000);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-heading {
    color:#fdf3f3;
}

.nav-item-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 700;
    margin-left: 12px;
    text-decoration: none;
    flex-grow: 1;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px;
    min-height: 90vh;
}

.heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    margin-bottom: 15px;
}

.about {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
}

.img {
    align-self: center;
    width: 50%;
    max-width: 450px;
}

.website-address {
    align-self: flex-end;
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 15px;
}
.view-button {
    font-family: "Open Sans";
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 28px;
    margin: 10px;
    background-color: #ffdda9;
    color: #12022f;
    border: 0px;
    width: 100px;
    order: 1;
  }
  
.outline-button {
    border-radius: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 28px;
    margin: 10px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    color: #ececec;
}
  
.buttons-container {
    display: flex;
    justify-content: center;
    align-self: center;
}